@import "./styles/bootstrap.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet ~ * > .container {
  margin-top: 3rem;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.mat-input-element {
  &:disabled {
    color: rgba(0,0,0,.87);
  }
}
